@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter' , sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}



/*---------------Nav bar--------------*/
.headerContent {
    max-width: 1280px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    gap: 0.625rem;
}

.logoIcon {
    height: 5.875rem;
    width: 1.938rem;
}

.navBar {
    display: none;
}

.navBarLink {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transition: color 0.1s;
}

.navBarLink:hover {
    color: var(--link-color);
}

.contactButton {
    display: none;
}

.menuButton {
    display: none;
    border: none;
    background-color: var(--background-color);
    padding: 0.5rem;
}

.menuIcon {
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (min-width: 767px){
    .navBar {
        display: flex;
        gap: 1.5rem;
    }

    .contactButton {
        display: block;
        background-color: var(--primary-color);
        border-radius: 0.375rem;
        color: var(--background-color);
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.1 ease-in;
    }

    .contactButton:hover {
        background-color: #5254f8;
    }
}

@media screen and (max-width: 767px) {
    .menuButton {
        display: block;
    }
}



/*-------------Main Section---------------*/
.mainSection {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    margin: 1.5rem auto;
}

.contentLeft {
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.contentLeftLabel {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.contentLeftHeading {
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}
    
.contentLeftDescription {
    color: var(--gray);
    font-size: 1.13rem;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 0.5rem;
}

.startButton, .tourButton {
    background-color: var(--primary-color);
    border-radius: 0.375rem;
    color: var(--background-color);
    transition: all 0.1s;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.1 ease-in;
}

.tourButton {
    background-color: var(--dark-gray);
}

.startButton:hover {
    background-color: #3e41f3;
}

.tourButton:hover {
    background-color: var(--gray);
}

.imageContainer {
    border-radius: 1.625rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 54vh;
}

.contentRightImage {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 767px) {
    .mainSection {
        display: flex;
        flex-direction: row;
        justify-content: center;
    } 

    .contentLeft {
        max-width: 55%;
        text-align: left;
    }

    .contentLeftHeading {
        padding-left: 0;
        font-size: 3rem;
        font-weight: bolder;
    }

    .buttonGroup {
        justify-content: start;
        gap: 3rem;
        padding-left: 0;
    }

    .imageContainer {
        height: 60vh;
    }

    .contentLeftDescription {
        font-size: 1.1rem;
        color: var(--gray);
        width: 78%;
    }
}



/*--------------Hero Section--------------*/
.companyContainer {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    animation: slideFromLeft 1s ease forwards;
}

.companies {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

@media screen and (min-width: 767px) {
    .companies {
        grid-template-columns: repeat(4, 1fr);
    }
    .companyContainer h2 {
        font-size: 2.3rem;
        font-weight: bold;
    }
}

.companyName {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 1.6rem;
} 

.logoText {
    font-size: 1rem;
}



/*--------------Card Section--------------*/
.featureContainer {
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}

.featureContent {
    max-width: 800px;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featureContent h2 {
    font-size: 2.2rem;
    font-weight: bold;
}

.featureContent p {
    color: var(--gray);
    font-size: 0.93rem;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    background-color: #4a90e2;
    padding: 1rem;
}

.cardImage {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featureImage {
    height: 1.5rem;
    width: 1.5rem;
}

.cardInfo h3 { 
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
} 

.cardInfo p {
    padding-top: 0.3rem;
    color: white;
} 

.card:nth-child(2) {
    background-color: #FF6289;
}
.card:nth-child(3) {
    background-color: #fcbf58;
}
.card:nth-child(4) {
    background-color: #44bfc3;
}
.card:nth-child(5) {
    background-color: #77b05d;
}
.card:nth-child(6) {
    background-color: #7d78b1;
}

@media screen and (max-width: 767px) {
    .features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}



/*--------------Testimonial Section--------------*/
.testimonialContainer {
    background-color: var(--background-color);
    padding: 1rem;
}

.testimonialContent {
    max-width: 1080px;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.testimonialContent h2 {
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonialInfo {
    display: flex;
    gap: 1.3rem;
}

.infoCard {
    padding: 15px 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--light-gray);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.infoCard:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border: 1px solid blue;
}

.infoCard img {
    height: 2.5rem;
    width: 2.5rem;
}

.infoCard h3 {
    color: var(--primary-color);
}

.infoCard p {
    color: #555;
}

.infoCard p {
    font-size: 0.875rem;
}



/*-----------Newsletter Section---------*/
.newsletterContainer {
    background-color: var(--background-color);
    padding: 2rem;
}

.newsletterSection {
    max-width: 1000px;
    height: 230px;
    margin: 0 auto;
    background-color: var(--light-gray);
    display: flex;
    gap: 1.5rem;
    align-items: center;
    border-radius: 0.3rem;
    overflow: hidden;
}

.newsletterImageContainer {
    width: 50%;
    height: 100%;
    position: relative;
}

.newsletterImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    inset: 0;
}

.newsletterInfoContainer {
    display: flex;
    gap: 0.5rem;
    width: 50%;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
}

.newsletterInfoContainer h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: left;
}

.newsletterInfoContainer p {
    color: var(--dark-gray);
    font-size: 0.75rem;
    text-align: left;
}

.newsletterForm {
    display: flex;
    gap: 0.4rem;
}

.newsletterForm input{
    background-color: var(--background-color);
    width: 100%;
    color: #333;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem o.75rem;
}

.newsletterForm input:focus {
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
}

.emailButton {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.2rem;
    border-radius: 0.25rem;
    font-size: 0.7rem;
    border: none;
}

.emailButton:hover {
    background-color: var(--link-color);
}

.privacyPolicy a{
    text-decoration: underline;
}

@media screen and (max-width: 640px) {
    .newsletterImageContainer {
        display: none;
    }
    .newsletterInfoContainer h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .newsletterInfoContainer {
        width: 100%;
    }
}



/*------------Footer Section-------------*/
.footerContainer {
    background-color: var(--background-color);  
}

.footer {
    max-width: 1080px;
    margin: 0 auto;
    padding: 2rem 3rem;
    display: flex;
    gap: 4rem;
    text-align: left;
    justify-content: space-between;
    border-bottom: 2px solid #E5E7EB;
}

.footerLeftPart {
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.footerLeftPartLogo img {
    height: 1.2rem;
    width: 1.4rem;
}

.footerLeftPartLogo a {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.footerLeftPart p {
    color: #777;
    font-size: 0.9rem;
}

.socials a img {
    height: 1.5rem;
    width: 1.5rem;
}

.footerRightPart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footerColumnList {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footerColumnList li a{
    color: var(--gray);
    font-size: 0.8rem;
}

.footerColumnList li a:hover {
    color: var(--link-color);
}

.footerCopyright {
    color: var(--gray);
    padding: 1rem 1.3rem;
    padding-bottom: 2rem;
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footerRightPart {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
    .footerLeftPart {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 470px) {
    .footerRightPart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}
